.main-input {
  width: 100%;
  background-color: white;
  padding: 1.5ex;
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  font-size: 1.2rem;
  box-sizing: border-box;
  min-height: 3.5rem;
  resize: none;
  overflow: hidden;
  line-height: 1.5;
  font-family: inherit;
}
