.container {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  .sidebarTop {
    .logoContainer {
      position: relative;
      aspect-ratio: 1;
      width: 2rem;
      .logo {
        object-fit: contain;
      }
    }
  }
  .options {

  }
}