.main-container {
  min-height: 100vh;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  .main-wrapper {
    width: 100%;
    max-width: 50%;
  }
}
