@import "tailwindcss";

:root {
  --background: #aed385;
  /*--foreground: #0e181e;*/
  --foreground: #6b6255;
  --color1: #aed385;
  --color2: #ffeedc;
  --darkColor1: #0e181e;
  --darkColor2: #4ff7b2;

  --mainColor: #faf3ea;
  --sidebarColor: #f7efe3;
  --fontColor: #6b6255;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e181e;
    --foreground: #6b6255;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


