@import "tailwindcss";

:root {
  --background: #eef7f0;
  --foreground1: #eef7f0;
  --foreground2: #CAE3DF;
  --foreground: #345951;
  --border-line-color: #dfe4ea;
  --text-color: var(--foreground);
  --text-font-family: var(--font-geist-sans), "Helvetica Neue", Arial, sans-serif;
  --text-size: 16px;
  --text-line-height: 1.6;
  --text-letter-spacing: 0.01em;
  --text-weight: 400;
  --text-weight-strong: 600;
  --text-size-strong: 17px;
  --text-letter-spacing-strong: 0.02em;
}


/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
}

.default-text {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-size-strong);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing-strong);
  font-weight: var(--text-weight-strong);
}
