.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  .sidebar {
  }

  .mainContainer {
    width: 100%;
    position: relative;
    @media (prefers-color-scheme: dark) {
      background-color: #2B2B2B;
    }
    .main {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translate(-50%, -10%);

      .mainTitle {
        font-weight: bold;
        font-size: 1.5rem;
        margin: 1rem 0;
      }
      .mainInput {
      }
    }
  }
}
